# MAS
MAS_URL=https://auth.tchapgouv.com
OTHER_MAS_URL=https://auth.tchapgouv.com
EXTERNAL_MAS_URL=

KEYCLOAK_URL=https://sso.tchapgouv.com
ELEMENT_URL=https://element.tchapgouv.com

# SYNAPSE
MATRIX_URL=https://matrix.tchapgouv.com
OTHER_MATRIX_URL=
EXTERNAL_MATRIX_URL=

# mailpit
MAIL_URL=https://mail.tchapgouv.com
MAILPIT_USER = 
MAILPIT_PWD = 

# Keycloak Admin Credentials
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_REALM=proconnect-mock

# MAS Admin API Credentials
MAS_ADMIN_URL=
MAS_ADMIN_CLIENT_ID=01J44RKQYM4G3TNVANTMTDYTX6
MAS_ADMIN_CLIENT_SECRET=
OTHER_MAS_ADMIN_URL=
OTHER_MAS_ADMIN_CLIENT_ID=
OTHER_MAS_ADMIN_SECRET=
EXTERNAL_MAS_ADMIN_URL=
EXTERNAL_MAS_ADMIN_CLIENT_ID=
EXTERNAL_MAS_ADMIN_SECRET=
# Test User Credentials
TEST_USER_PREFIX=playwright_test_user
TEST_USER_PASSWORD=Test@123456

# Email domains for test users
STANDARD_EMAIL_DOMAIN=
OTHER_EMAIL_DOMAIN=
INVITED_EMAIL_DOMAIN=
NOT_INVITED_EMAIL_DOMAIN=
WRONG_SERVER_EMAIL_DOMAIN=
NUMERIQUE_EMAIL_DOMAIN=

# Screenshots Directory
SCREENSHOTS_DIR=playwright-results

# Browser Locale
BROWSER_LOCALE=fr-FR

#disable tls verification in nodeJS (required for axios to work with self signed certificate)
NODE_TLS_REJECT_UNAUTHORIZED = '0'

SYNAPSE_ADMIN_TOKEN=