# MAS Admin API Secrets
# These secrets are used for authentication with the Matrix Authentication Service
# Each environment (dev, int, local) should have its own specific secrets
MAS_ADMIN_CLIENT_ID=
MAS_ADMIN_CLIENT_SECRET=
OTHER_MAS_ADMIN_CLIENT_ID=
OTHER_MAS_ADMIN_SECRET=
EXTERNAL_MAS_ADMIN_CLIENT_ID=
EXTERNAL_MAS_ADMIN_SECRET=

# Mailpit Secrets
# Mailpit password for accessing the mailpit service
MAILPIT_PWD=

# Synapse Admin Token
# Token for administrative access to Synapse
SYNAPSE_ADMIN_TOKEN=
